.leaderboard {
     /* Space above the leaderboard */
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(10px); /* Glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
    
     
}
.leaderboard th {
    background: linear-gradient(145deg, rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.1)); /* Gradient for header */
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 18px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Shine effect */
}
.leaderboard td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}
.leaderboard tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05); /* Slightly more transparent */
}
.leaderboard tr:hover {
    background-color: rgba(155, 2, 225, 0.3); /* Hover effect */
}
.leaderboard tr.top-3 td {
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.6), rgba(0, 128, 255, 0.1));
    color: black;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 128, 255, 0.8); /* Shine effect */
}
.leaderboard::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0.8;
}
@media screen and (max-width: 600px) {
    .leaderboard {
        font-size: 12px;
    }

    .leaderboard td, .leaderboard th {
        padding: 10px;
    }
}
.leaderboard-container {
    display: flex;
    justify-content: center; /* Centers the table horizontally */
    align-items: center; /* Optional: centers vertically if needed */ 
    margin: 10vh 0 10vh 0;/* Adjust based on your requirement */
}

